@media screen and (max-width:1005px) {

    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p, h2 {
        text-align: center;
    }

    .img-sobre {
    flex: 40%;
    text-align: center;
}
     .sobre p {
        text-align: center;
    }

    .img-headline {
        flex: 100%;
        margin: 10%;
        text-align: center;
        margin-bottom: -20px;
    }

    .card {
        width: 100%;
    }

    .whats {
        display: none;

    }

}

@media (max-width: 900px) {
    .menu {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 100px;
        right: 0;
        width: 200px;
        box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
        text-align: left;
        padding: 20px;
    }

    .menu a {
        display: block;
        padding: 10px 0;
        margin: 0;
    }

    .hamburguer {
        display: block;
    }

    .menu.active {
        display: flex;
    }
}


@media (max-width: 768px) {


  .img-sobre{
    flex: 100%;
    order: 2; /
  }
}